body, html{
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #FFF;
}

nav{
    display: flex;
    padding: 2vw;
    align-items: center;
    justify-content: center;
    height: 5vw;
}

nav ul{
    display: flex;
    list-style: none;
}


nav ul li a{
    color: black;
    font-size: 1.5vw;
    width: max-content;
    padding: 0 3vw;
}

#main{
    background: url(../images/Background.svg) no-repeat;
    background-size: cover;
    height: 60vw;
    padding-bottom: 10vw;
}

#aboutme{
    background: url(../images/Subtractabout.svg) no-repeat;
    background-size: cover;
    height: 60vw;
    padding-bottom: 10vw;
}

#logo{
    font-size: 2vw;
    margin-right: auto;
}

.container{
    width:100%;
    margin: 5% 0 0 5%;
}

.container img{
    margin-left: 40%;
    height: 30vw;
    width: 45vw;
}

h1{
    font-size: 8vw;
    font-weight: 300;
    width: max-content;
    position: relative;
    margin: 0;
}

.container p{
    font-size: 1.5vw;
    line-height: 1.4em;
    margin: 0 10px;
    position: relative;
    width: max-content;
}
