*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto';
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px 10px 150px;
    padding: 10px;
    width: 50%;
    ul{
        display: flex;
        justify-content: space-between;
        width: 60%;
        a{
            font-size: 1.2em;
            width: max-content;
            list-style: none;
            text-decoration: none;
            color: #585858;
        }
    }
}

.main{
    height: 100vh;
    #splash1{
        position: absolute;
        right: 0;
        z-index: -1;
        width: 28vw;
    }
    #sebarz{
        transform: rotate(90deg);
        transform-origin: left top;
        position: absolute;
        font-weight: 900;
        left: 165px;
        top: -4%;
        font-size: 11em;
        text-transform: uppercase;
        width: max-content;
        color:#DBDBDB;
        z-index: -1;
    }
    .hello{
        position: absolute;
        top: 70%;
        right: 52%;
        h1{
            font-size: 4em;
            font-weight: 900;
        }
        p{
            font-size: 2em;
            font-weight: 500;
            color: #a9a9a9;
        }
        #heroiam{
            position: absolute;
            bottom: 30px;
            left: 110%;
            height: 36vw;
            width: auto;
        }
    }
}